fastapi==0.109.2
uvicorn==0.27.1
sqlalchemy==2.0.27
pymysql==1.1.0
python-dotenv==1.0.1
pydantic==1.10.12
python-multipart==0.0.9
requests==2.31.0
cryptography==42.0.2
#Run pip install -r requirements.txt to install all the dependencies

# Phạm vi trách nhiệm:
# •	- Quản lý đơn hàng của khách
# •	- Xử lý thanh toán
# •	- Quản lý khách hàng thân thiết

# 📌 Database (MySQL)
# INT (PK)	VARCHAR	VARCHAR	ENUM(vãng lai, thân thiết)	INT
# 2️ Bảng orders (Quản lý đơn hàng)
# order_id   employee_id	table_id	status	total_price	created_at
# INT (PK)	INT (FK -> employees)	INT (FK -> tables)	ENUM(pending, processing, completed, cancelled)	FLOAT	TIMESTAMP
# 3️ Bảng payments (Xử lý thanh toán)
# payment_id	order_id	payment_type
# INT (PK)	INT (FK -> orders)	ENUM(cash, card, e-wallet)


# 📌 API Cần Làm
# ✔ POST /orders → Tạo đơn hàng ===> Đã làm
# ✔ PUT /orders/{id} → Cập nhật đơn hàng ===> Đã làm
# ✔ POST /payments → Xử lý thanh toán ===> Đã làm

# order-service/
# │── main.py               # Chạy FastAPI app
# │── models.py             # Định nghĩa database models
# │── database_orders.py           # Kết nối MySQL
# │── routers/
# │   ├── orders.py         # API quản lý đơn hàng
# │   ├── payments.py       # API xử lý thanh toán
# │── services/
# │   ├── order_service.py  # Business logic của order
# │   ├── payment_service.py# Business logic của payment
# │── requirements.txt      # Các thư viện cần cài đặt
# │── Dockerfile            # Docker build
